// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h4 {
    font-weight: 600;
}

.form-text {
    font-size: .75rem;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}
